@media (max-width:30em) {

  body {
    justify-content: start;
  }
  .main {
    flex-direction: column;
  }

  .left, .right {
    width: 100vw;
    border-radius: 0 0 20px 20px;
  }

  .right {
    box-shadow: none;
    align-items: flex-start;
    margin: 1rem 0;
    padding: 0 2rem;
  }

  .result-summary {
    width: 18.5rem;
  }

  .data {
    width: 100%;
  }

  button.btn {
    width: 100%;
    height: 3.5rem;
    margin-top: .875rem;
  }

  .reaction, .memory, .verbal, .visual {
    height: 2.7rem;
  }
}