:root {
  /* Primary colors */

  --light-red: #ff5757;
  --orangey-yellow: #ffb01f;
  --green-teal: #00bd91;
  --cobalt-blue: #1125d4;

  /* gradient colors */

--light-slate-blue: #7857ff;
--light-royal-blue: #2e2be9;
--violet-blue: #4e21c9;
--persian-blue: #2421ca;

  /* neutral */
  --white: #ffffff;
  --pale-blue: #ebf1ff;
  --light-lavender: #c8c7ff;
  --dark-grey-blue: #303b5a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Hanken Grotesk';
  font-size: 1rem;
}

html,
body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.main {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  width: 18rem;
  height: 25rem;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  justify-content: space-evenly;
  text-align: center;
}

.left {
  background-image: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
}

.left div {
  width: 12.5rem;
  text-wrap: pretty;
}

.right {
  margin: 0 -.875rem;
  box-shadow: 15px 10px 20px -1px #c8c7ff54;
  align-items: flex-start;
  padding-left: 2.5rem;
}

.main-title {
  font-size: 1.2rem;
  color: var(--light-lavender);
}

.summary {
  font-size: 1.2rem;
}

.circle {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  background-image: linear-gradient(180deg, #4e21c96b, #2421ca3d);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.score {
  color: var(--white);
  font-size: 3rem;
}

.total {
  color: var(--light-lavender);
  font-weight: 600;
  font-size: .875rem;
}

.rating {
  color: var(--pale-blue);
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.result-summary {
  color: var(--light-lavender);
  font-size: .875rem;
}

.data {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1.5rem;
}

.data > div {
  display: flex;
  align-items: center;
  border-radius: 10px;
  gap: 4rem;
  justify-content: space-around;
  padding: 0 5px;
}

.icon {
  display: flex;
  align-items: center;
}

.icon img {
  margin-right: 10px;
  width: 20px;
}

.results p {
  color: var(--dark-grey-blue);
}

.reaction, .memory, .verbal, .visual {
  height: 2.438rem;
}

.reaction {
  color: var(--light-red);
  background-color: #ff575721;
}

.memory {
  color: var(--orangey-yellow);
  background-color: #ffb11f2b;
}

.verbal {
  color: var(--green-teal);
  background-color: #00bd9125;
}

.visual {
  color: var(--violet-blue);
  background-color: #4e21c927;
}

button.btn {
  display: block;
  padding: 10px 20px;
  background-color: var(--dark-grey-blue);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  width: 90%;
}

.btn:hover {
  background-image: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.attribution { font-size: 11px; text-align: center;}
.attribution a { color: #3e52a3;}